.quickview {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.smallImg {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    width: 5%;
}

.bookimgsec {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.addbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    justify-content: space-between;
}


.bookViewDetails {
    width: 58%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.aboutBook{

    display: flex;
    justify-content: flex-start;
    text-align: justify;
}

.ratingdetails {
    display: flex;
    width: 100%;

}

.rateStar {
    color: #ffffff;
    border-radius: 2px;
    background-color: #388E3C;
}


.lightTitle {
    padding: 3px;
    display: flex;
    font-size: small;
    opacity: 0.5;
}

.overall {
    display: flex;
    justify-content: flex-start;
    font-size: large;
}
.bothPrice{
    display: flex;
}


.feedback {
    margin: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.overallRate {
    display: flex;
    background-color: rgb(252, 248, 248);
}

.submitBtn {
    display: flex;
    justify-content: flex-end;
    outline: none;
}